.header {
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  justify-content: space-between;
}

.link-button {
  padding: 12px;
  margin: 4px;
  border-radius: 4px;
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.link-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: underline;
  cursor: pointer;
}
