.app {
    position: relative;
    min-height: 100%;
    height: 100%;
}
.app:before {
    content: ' ';
    display: block;
    background-image: url("../background.jpeg");
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    background-position: 50% 0;
    background-size: cover;
}
.content {
    position: relative;
    height:100%;
}
.section {
    height: 100%;
}

:root{
    --base-grid-size: 4px;
}