.header {
  background-color: lightgray;
  display: flex;
}

.link-button {
  padding: 12px;
  margin: 4px;
  border-radius: 4px;
  color: royalblue;
  background-color: transparent;
  text-decoration: none;
}
.link-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: underline;
  cursor: pointer;
}
